<div onClick="location.href='/collections/keysmart-tools'" class="build-your-own-desktop hide-mobile">

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/Banner_Keychain.png?v=1666380067">

</div>

<div onClick="location.href='/collections/keysmart-tools'" class="build-your-own hide-desktop">

  <h2 style="font-size:16px;">BUILD YOUR OWN MULTI-TOOL</h2>

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/build-your-own.png?v=1664888985">

  <p>KeySmart lets you customize your key holder with the things you want. 
    Add a bottle opener, multi-tool, or pocket knife. Create the KeySmart you really need, for the life you want to live.</p>

  <div class="build-your-own-line"></div>

  <h3 class="heading h2" style="text-align: center; font-size: 25px;">Carry The Extraordinary</h3>
  
</div>

<style>

  .build-your-own-desktop{
    width: 100%;
  }

  .build-your-own-desktop img{
    width: 100%;
    height: auto;
  }

  .build-your-own{
    text-align: center;
    padding: 20px;
  }

  .build-your-own-line{
    height: 3px;
    width: 80px;
    margin: auto;
    background-color: black;
  }
  
</style>


{% schema %}
  {
    "name": "Build Your Own",
    "settings": [],
	"presets":[{"name": "Build Your Own"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}