<div class="custom-keysmart-desktop hide-mobile">

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/Artboard_1.png?v=1667931657">
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/Prancheta_6_1.png?v=1666971736">
  <p class="h3" style="color: black;"><b>MAKE YOUR BRAND MEMORABLE<br>AND TRULY UNIQUE</b></p>
  <p class="ck-paragraph">Create a lasting impression with your own branded KeySmart. It’s a memorable (and useful) way to show potential clients, customers, and employees that you always go the extra mile. And best of all, they’ll think of you every time they use their keys! </p>

  <div class="ck-btn"><p>Get your quotation within 24 hours</p></div>

  <p><b>LASER ENGRAVING OR FULL COLOR PRINTING</b></p>

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/custom.png?v=1667846501">

  <p class="h3" style="color: black;">GET STARTED FOR FREE</p>
  <div class="ck-btn"><p>Get your quotation within 24 hours</p></div>

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/wwww.png?v=1667846587">
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/Prancheta_4_a7debc99-4725-4c96-b748-6f87885ab76a.png?v=1666971800">
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/Prancheta_7_e36be818-446d-45f5-bd08-62b03ec09b1a.png?v=1666971810">
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/last.png?v=1667846650">

  <p class="h3" style="color: black;">GET STARTED FOR FREE</p>
  <div class="ck-btn"><p>Get your quotation within 24 hours</p></div>
  
</div>

<div class="custom-keysmart-mobile hide-desktop">

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/ck1.png?v=1667849976">
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/ck2.png?v=1667849975">

<p class="h3" style="color: black;"><b>MAKE YOUR BRAND MEMORABLE<br>AND TRULY UNIQUE</b></p>
  <p class="ck-paragraph">Create a lasting impression with your own branded KeySmart. It’s a memorable (and useful) way to show potential clients, customers, and employees that you always go the extra mile. And best of all, they’ll think of you every time they use their keys! </p>

  <div class="ck-btn-mobile"><p>Get your quotation within 24 hours</p></div>

  <p><b>LASER ENGRAVING OR<br>FULL COLOR PRINTING</b></p>
  
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/ck3.png?v=1667849977">

  <p class="h3" style="color: black;">GET STARTED FOR FREE</p>
  <div class="ck-btn-mobile" style="margin-bottom: 20px;"><p>Get your quotation within 24 hours</p></div>
  
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/ck4.png?v=1667849975">
  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/ck5.png?v=1667849981">

  <p class="h3" style="color: black;">GET STARTED FOR FREE</p>
  <div class="ck-btn-mobile"><p>Get your quotation within 24 hours</p></div>

</div>

<style>

  .custom-keysmart-desktop img{
    width: 100%;
    height: auto;
  }

  .custom-keysmart-mobile{
    text-align: center;
  }

  .ck-paragraph{
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .ck-btn p{
    margin: 0 !important;
    padding: 0 !important;
  }

  .ck-btn-mobile{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a50d6;
    opacity: 1;
    transition: all 0.3s ease;
    width: 95%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    border-radius: 14px;
  }

  .ck-btn{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a50d6;
    opacity: 1;
    transition: all 0.3s ease;
    width: 50%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    border-radius: 14px;
  }

  .ck-btn:focus, .ck-btn:hover{
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .custom-keysmart-desktop p{
    text-align: center;
  }


  
</style>


{% schema %}
  {
    "name": "Custom Keysmart",
    "settings": [],
    "presets": [{"name": "Custom Keysmart"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}