<div onClick="location.href='https://www.getkeysmart.com/pages/custom-keysmart'" class="good-impression hide-mobile">

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/Banner_Custom_Keysmart.png?v=1666381998">

</div>

<div class="good-impression hide-desktop">

  <img src="https://cdn.shopify.com/s/files/1/0252/5199/files/good-impression.png?v=1664830206">
  <h3 class="heading h2" style="text-align: center; font-size: 25px;">Leave a Good Impression:<br>YOUR LOGO + KEYSMART</h3>
  <p>Create a lasting impression with your own branded KeySmart.
    It’s a memorable (and useful) way to show potential clients,
    customers, and employees that you always go the extra mile. 
    And best of all, they’ll think of you every time they use their keys!</p>

  <div onClick="location.href='https://www.getkeysmart.com/pages/custom-keysmart'" class="good-impression-button"><p>GET A CUSTOM KEYSMART</p></div>

</div>

<style>

  .good-impression-button{
    color: black;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius:300px;
    padding: 10px;
  }

  .good-impression{
    padding:20px;
    width: 100%;
  }

  .good-impression img{
    width: 100%;
    height: auto;
  }

  .good-impression p{
    text-align: center;
  }
  
</style>

{% schema %}
  {
    "name": "Good Impression",
    "settings": [],
	"presets":[{"name": "Good Impression"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}