<div class="stress-free-shopping">

  {% assign media = images['stars.png'] %}
  <img loading="lazy" sizes="200px" style="width:200px;" {% render 'image-attributes', image: media, sizes: '200,400,600,800' %}>
  <p class="h2" style="margin: 18px !important;"><b>Stress Free Shopping</b></p>
  <p>"Amazing customer service, I accidentally ordered 2 and they were super quick to fix my order. Fast shipping and super helpful customer service, love this store."</p>

</div>

<style>

  @media screen and (max-width: 676px){
    .stress-free-shopping{
      padding: 60px 5% !important;
    }
  }

  .stress-free-shopping{
    background-image:-webkit-linear-gradient(left, #BE408E, #1F2350);
    color: white;
    text-align: center;
    padding: 60px 30%;
    margin-top: 15px;
  }


  
</style>


{% schema %}
  {
    "name": "Stress Free Shopping",
    "settings": [],
    "presets": [{"name": "Stress Free Shopping"}]
  }
{% endschema %}